@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {


/* @media (min-width: 1580px){
.container {
    max-width: 1520px !important;
}
}
@media (min-width: 1400px){
.container {
    max-width: 1320px;
}
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container {
    max-width: 540px;
}
}
 */
.container {
  margin:0 auto;
  padding: 0 25px;

}

  .company {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    box-shadow:  theme('boxShadow.md');
    transition:300ms;
     /* dark:bg-gray-800 dark:border-gray-700"*/
  }
  .company:hover {
    box-shadow:  theme('boxShadow.lg');
  }
  .company:hover h5 {
    transition:300ms;
  }
  .company:hover h5 {
    color: theme('colors.rose.500');
  }

  
  .company-logo>img{
    width:101px; 
    max-width:101px
  }

  .company_name {
    margin:0 auto;
    padding: 0 25px
  }

  .company_meta {
    margin:0 auto;
    padding: 0 25px
  }
  /* ... */
}